[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-devicons"]
	path = .vim/bundle/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule ".vim/bundle/ctrlp.vim"]
	path = .vim/bundle/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/bundle/phpactor"]
	path = .vim/bundle/phpactor
	url = https://github.com/phpactor/phpactor
[submodule ".vim/bundle/colorizer"]
	path = .vim/bundle/colorizer
	url = https://github.com/lilydjwg/colorizer
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic
[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule ".vim/bundle/phpcd.vim"]
	path = .vim/bundle/phpcd.vim
	url = https://github.com/lvht/phpcd.vim
[submodule ".vim/bundle/vdebug"]
	path = .vim/bundle/vdebug
	url = https://github.com/vim-vdebug/vdebug
[submodule "tmux-themepack"]
	path = tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
